body{

margin:0;

font-family:Arial,Helvetica,sans-serif;

background:#f4f7fc;

color:#222;

}

/* Header */

header{

background:#2d5b90;

color:white;

text-align:center;

padding:50px 20px;

}

header h1{

margin:0;

font-size:60px;

}

header p{

margin-top:18px;

font-size:24px;

opacity:.9;

}

/* Main */

main{

width:90%;

max-width:700px;

margin:50px auto;

}

/* Inputs */

select,
textarea{

width:100%;

box-sizing:border-box;

padding:18px;

margin-bottom:25px;

font-size:22px;

border-radius:18px;

border:1px solid #d7dce5;

background:white;

outline:none;

}

select:focus,
textarea:focus{

border-color:#2d5b90;

}

textarea{

height:180px;

resize:vertical;

}

/* Upload */

.upload{

display:block;

margin-bottom:30px;

padding:28px;

text-align:center;

font-size:22px;

font-weight:bold;

background:white;

border:2px dashed #c7d2df;

border-radius:20px;

cursor:pointer;

transition:.25s;

}

.upload:hover{

background:#eef5ff;

border-color:#2d5b90;

}

.upload input{

display:block;

margin:18px auto 0;

font-size:18px;

}

/* Button */

button{

width:100%;

padding:22px;

margin-top:10px;

margin-bottom:60px;

background:#2d5b90;

color:white;

font-size:28px;

font-weight:bold;

border:none;

border-radius:20px;

cursor:pointer;

transition:.2s;

box-shadow:0 8px 20px rgba(0,0,0,.15);

}

button:hover{

background:#376da9;

transform:translateY(-2px);

}
